<template>
    <div>
        <el-card class="box-card">
            <!-- 查询按钮 -->
            <div slot="header">
                <el-button-group>
                    <el-button @click="onSubmit" icon="el-icon-search" size="mini" style="margin-left: 20px"
                               type="success">查询
                    </el-button>
                    <el-button @click="resetForm('form')" icon="el-icon-refresh" size="mini" type="info">重置
                    </el-button>
                </el-button-group>
            </div>
            <!--查找的输入框-->
            <div>
                <br>
                <el-form :model="form" inline ref="form" size="small" style="width: 100%;">
                    <el-form-item label="客户端IP">
                        <el-input placeholder="请输IP地址" size="small" style="width:230px;"
                                  v-model="form.hostIp"></el-input>
                    </el-form-item>
                    <el-form-item label="应用">
                        <el-input placeholder="请输应用信息" size="small" style="width:230px;"
                                  v-model="form.application"></el-input>
                    </el-form-item>
                    <el-form-item label="状态">
                        <el-select placeholder="请选择状态" v-model="form.status">
                            <el-option :value="0" label="在线"></el-option>
                            <el-option :value="1" label="离线"></el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
                <br>
            </div>
            <!-- 数据列表 -->
            <div>
                <el-table :data="tableData" :height="tableHeight-65" @selection-change="selectChagne" highlight-current-row ref="table"
                          size="mini" stripe style="width: 100%">
                    <el-table-column label="序号" min-width="5%" type="index"></el-table-column>
                    <el-table-column label="客户端IP" min-width="15%" property="hostIp">
                    </el-table-column>
                    <el-table-column label="占用端口" min-width="10%" property="hostPort">
                    </el-table-column>
                    <el-table-column label="所属应用" min-width="20%" property="application">
                    </el-table-column>
                    <el-table-column :formatter="statusFormatter" label="状态" min-width="15%" property="itemType">
                    </el-table-column>
                    <el-table-column label="创建时间" min-width="15%" property="createTime">
                    </el-table-column>
                    <el-table-column label="更新时间" min-width="15%" property="updateTime">
                    </el-table-column>
                    <el-table-column label="操作" min-width="20%">
                        <template slot-scope="scope">
                            <el-button-group>
                                <el-button @click="del(scope.row)" size="mini" type="danger">删除
                                </el-button>
                            </el-button-group>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <el-pagination
                        :current-page="tableCurrentPage"
                        :page-size="tablePageSize"
                        :page-sizes="[5, 10, 20, 50]"
                        :total="tableTotal"
                        @current-change="handleCurrentChange"
                        @size-change="handleSizeChange"
                        layout="total, sizes, prev, pager, next, jumper">
                </el-pagination>
            </div>
        </el-card>
    </div>
</template>
<script src="pages/client/client.js" type="text/javascript"></script>