<template>

    <el-tabs @tab-click="handleClick" v-model="activeName">
        <el-tab-pane label="公共配置" name="itemGroup">
            <div>
                <!-- 公共配置 -->
                <el-card class="box-card">
                    <div slot="header">
                        <el-button-group>
                            <!-- 添加API的页面 -->
                            <el-button @click="addConfGroup" icon="el-icon-plus" size="mini" style="margin-left: 20px"
                                       type="success">新增配置组
                            </el-button>
                            <!-- 添加API的页面 -->
                            <el-button @click="findApi" icon="el-icon-search" size="mini" style="margin-left: 20px"
                                       type="primary">搜索
                            </el-button>
                        </el-button-group>
                        <br/><br/>
                    </div>
                    <div>
                        <el-form :model="searchForm" inline ref="searchForm" size="small" style="width: 100%;">
                            <el-form-item>
                                <el-input label="配置组名称" placeholder="配置组名称" size="small" style="width:230px;"
                                          v-model="searchForm.groupName"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input label="配置组描述" placeholder="配置组描述" size="small" style="width:230px;"
                                          v-model="searchForm.groupDesc"></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                    <el-table :data="pager.list" :height="tableHeight-65" @selection-change="selectChagne" highlight-current-row ref="table"
                              size="mini" stripe style="width: 100%">
                        <el-table-column type="index" width="50"></el-table-column>
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column label="配置项组名称" prop="groupName" width="200">
                        </el-table-column>
                        <el-table-column label="配置组描述" prop="groupDesc" width="200">
                        </el-table-column>
                        <el-table-column label="创建时间" prop="createTime" width="200">
                        </el-table-column>
                        <el-table-column label="更新时间" prop="updateTime" width="200">
                        </el-table-column>
                        <el-table-column label="操作" width="200">
                            <template slot-scope="scope">
                                <el-button-group>
                                    <el-button @click="configDetail(scope.row)" icon="el-icon-setting" size="mini"
                                               type="success">查看配置
                                    </el-button>
                                    <el-button @click="del(scope.row)" size="mini"
                                               type="danger">删除关联
                                    </el-button>
                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination :total="pager.total" background
                                   layout="sizes, prev, pager, next, total"></el-pagination>
                </el-card>
                <el-dialog :visible.sync="configModel" title="关联的配置项">
                    <el-table :data="configPager.list" :height="tableHeight-65" ref="configTable" size="mini" stripe>
                        <el-table-column label="配置项键" property="itemKey" width="150"></el-table-column>
                        <el-table-column label="配置项值" property="itemValue" width="200"></el-table-column>
                        <el-table-column label="描述" property="itemDesc"></el-table-column>
                        <el-table-column label="应用类型" property="itemType">
                            <!-- 0通用，1开发环境，2测试环境，3生产环境，4其他 -->
                            <template slot-scope="scope">
                                <p v-if="scope.row.itemType == 0">
                                    通用配置
                                </p>
                                <p v-if="scope.row.itemType == 1">
                                    开发配置
                                </p>
                                <p v-if="scope.row.itemType == 2">
                                    测试配置
                                </p>
                                <p v-if="scope.row.itemType == 3">
                                    生产配置
                                </p>
                                <p v-if="scope.row.itemType == 4">
                                    其他
                                </p>
                            </template>
                        </el-table-column>
                        <el-table-column label="更新时间" property="updateTime"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button-group>
                                    <el-button @click="updateConfig(scope.row)" icon="el-icon-edit" size="mini"
                                               type="primary">修改
                                    </el-button>
                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-dialog>
            </div>
        </el-tab-pane>
        <el-tab-pane label="私有配置" name="itemPrivate">
            <div>
                <el-card class="box-card">
                    <div slot="header">
                        <el-button-group>
                            <!-- 添加API的页面 -->
                            <el-button @click="addPrivateConf" icon="el-icon-plus" size="mini" style="margin-left: 20px"
                                       type="success">新增配置
                            </el-button>
                            <!-- 添加API的页面 -->
                            <el-button @click="findPrivateConf" icon="el-icon-search" size="mini" style="margin-left: 20px"
                                       type="primary">搜索
                            </el-button>
                        </el-button-group>
                        <br/><br/>
                    </div>
                    <div>
                        <el-form :model="priSearchForm" inline ref="priSearchForm" size="small" style="width: 100%;">
                            <el-form-item>
                                <el-input label="配置KEY" placeholder="配置KEY" size="small" style="width:230px;"
                                          v-model="priSearchForm.itemKey"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input label="配置描述" placeholder="配置描述" size="small" style="width:230px;"
                                          v-model="priSearchForm.itemDesc"></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                    <el-table :data="privatePager.list" :height="tableHeight-65" @selection-change="selPrivateChange" highlight-current-row
                              ref="table"
                              size="mini" stripe style="width: 100%">
                        <el-table-column type="index" width="50"></el-table-column>
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column label="配置项KEY" prop="itemKey" width="200">
                        </el-table-column>
                        <el-table-column label="配置项值" prop="itemValue" width="200">
                        </el-table-column>
                        <el-table-column label="配置描述" prop="itemDesc" width="200">
                        </el-table-column>
                        <el-table-column label="创建时间" prop="createTime" width="200">
                        </el-table-column>
                        <el-table-column label="更新时间" prop="updateTime" width="200">
                        </el-table-column>
                        <el-table-column label="操作" width="200">
                            <template slot-scope="scope">
                                <el-button-group>
                                    <el-button @click="editPrivate(scope.row)" icon="el-icon-setting" size="mini"
                                               type="success">修改
                                    </el-button>
                                    <el-button @click="delPrivate(scope.row)" icon="el-icon-setting" size="mini"
                                               type="danger">删除
                                    </el-button>
                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination :total="privatePager.total" background
                                   layout="sizes, prev, pager, next, total"></el-pagination>
                </el-card>

                <el-dialog :visible.sync="privateModel" title="新增私有配置">
                    <el-form :model="privTabDate" :rules="rules" label-width="100px" ref="privTabDate">
                        <el-form-item label="配置项键" prop="itemKey">
                            <el-input style="width:400px;" v-model="privTabDate.itemKey"></el-input>
                        </el-form-item>
                        <el-form-item label="配置项值" prop="itemValue">
                            <el-input style="width:400px;" v-model="privTabDate.itemValue"></el-input>
                        </el-form-item>
                        <el-form-item label="配置描述">
                            <el-input style="width:400px;" v-model="privTabDate.itemDesc"></el-input>
                        </el-form-item>
                    </el-form>
                    <div class="dialog-footer" slot="footer">
                        <el-button @click="privateModel = false">取 消</el-button>
                        <el-button @click="submitPrivate()" type="primary">确 定</el-button>
                    </div>
                </el-dialog>
            </div>
        </el-tab-pane>
    </el-tabs>


</template>
<script src="pages/app/configgroup.js" type="text/javascript"></script>