<template>
    <div>
        <el-card class="box-card">
            <div slot="header">
                <el-button-group>
                    <el-button @click="create" icon="el-icon-edit" size="mini" type="primary">新增</el-button>
                    <el-button @click="deleteBatch" icon="el-icon-delete" size="mini" type="danger">删除</el-button>
                </el-button-group>
                <span style="float: right; padding: 3px 0">
                    <el-input placeholder="搜索" size="mini" suffix-icon="el-icon-search">
                    </el-input>
                </span>
            </div>
            <el-table :data="pager.list" :height="tableHeight" @selection-change="selectChagne" highlight-current-row ref="table"
                      size="mini" stripe style="width: 100%">
                <el-table-column type="index" width="50"></el-table-column>
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column label="日期" property="date" width="120">
                </el-table-column>
                <el-table-column label="姓名" property="name" width="120">
                </el-table-column>
                <el-table-column label="地址" property="address">
                </el-table-column>
                <el-table-column label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-button @click="edit(scope.row)" icon="el-icon-edit" size="mini"
                                       type="primary"></el-button>
                            <el-button @click="del(scope.row)" icon="el-icon-delete" size="mini"
                                       type="danger"></el-button>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination :total="1000" background layout="sizes, prev, pager, next, total"></el-pagination>
        </el-card>
        <el-dialog :visible.sync="deleteModal" title="删除提示"
                   width="30%">
            <h2>是否删除该记录！</h2>
            <span class="dialog-footer" slot="footer">
                    <el-button @click="deleteModal = false">取 消</el-button>
                    <el-button @click="confirmDelete" ref="deleteBtn" type="primary">确 定</el-button>
                </span>
        </el-dialog>
    </div>
</template>
<script src="pages/template/template.js" type="text/javascript"></script>